.swiper {
	color: #fff;
	min-height: 900px; ////
	height: 100vh;
	//max-height: 100vh;
	font-family: 'Cera Round Pro';

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__navbar {
		display: flex;
		justify-content: space-between;

		&__list {
			display: flex;
			list-style-type: none;
			padding-left: 0;
			margin-left: 2.5%;
			gap: 75px;

			&__link {
				font-style: normal;
				font-weight: bold;
				cursor: pointer;

				&::before {
					content: "";
					width: 30px;
					height: 2px;
					border-radius: 55px;
					margin-top: 10px;
					margin-left: -40px;
					background: #56BDFF;
					position: absolute;
				}


			}

			&__link:hover,
			.active {
				&::before {
					background: #FFC700;

				}
			}
		}

		&__catalog {
			display: flex;
			align-items: center;
			font-weight: bold;
			cursor: pointer;
		}
	}

	.main-block {
		display: flex;
		height: max-content;
		justify-content: space-between;
		gap: 120px; ////
		height: 100%;
	}

	&__main {
		width: 100%;
		position: relative;
	}

	&__sidebar {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		height: 100%;

		.sidebar-container {
			display: grid;
			grid-template-rows: 33% 67%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__hash {
			font-size: 15px;
			letter-spacing: 0.05em;

			transform: rotate(90deg);

			p {
				margin: 0;

				span {
					color: #FFC700;
				}
			}
		}

		&__progress-line {
			align-self: flex-start;
			display: grid;
			grid-template-rows: 1fr;
			flex-direction: column;
			justify-content: center;
			max-width: 75px;
			width: 75px;

			&__index {
				justify-self: center;
				align-self: center;
				margin-bottom: 20px;
				font-weight: bold;
				font-size: 14px;
				line-height: 14px;
			}

			&__page {
				margin-top: 100px;
				// align-self: flex-end;
				// position: absolute;
				width: max-content;
				font-weight: 500;
				font-size: 15px;
				// line-height: 15px;
				transform: rotate(90deg);
				height: 20px;
				width: 150px;

				div {

					span {}
				}
			}

			.to_top {
				animation: slideOutInTop .4s;
			}

			.to_bottom {
				animation: slideOutInBottom .4s;
			}

			&__line-holder {
				display: flex;
				justify-content: center;
				// align-items: center;
				height: 150px;
				// align-content: center;

				.swipe-arrow {
					position: absolute;
					// display: flex;
					flex-direction: column;
					padding: 62px 5px;
					align-self: center;
					// margin-top: 50%;
					// justify-self: center;
					// place-self: center;
					// margin-bottom: 5px;
				}

				.up {
					margin-left: 57px;
					transform: rotate(180deg);
				}

				.down {
					margin-left: 20px;
				}

				&__arrows {}

				&__line {
					background: #56BDFF;
					width: 2px;
					height: 150px;
					transition: max-height 0.3s ease-out;
				}
			}
		}
	}


	&__footer {

		&__wrapper {
			display: flex;
			justify-content: space-between;
			padding-bottom: 20px;

			&__logo {
				display: flex;
				align-items: center;
				align-content: center;
				gap: 20px;

				img {}


			}

			&__feedback {
				display: flex;
				gap: 75px;
				align-self: flex-end;
				padding-bottom: 25px;

				&__phone {
					font-style: normal;
					font-weight: bold;
					cursor: pointer;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;

						}
					}

					span {}
				}

				&__mail {
					font-weight: bold;
					cursor: pointer;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;

						}
					}

					span {}
				}

				&__adress {
					font-weight: bold;
					cursor: pointer;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;

						}
					}

					span {}
				}
			}
		}
	}
}

@keyframes slideOutInTop {
	0% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);

		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}

	50% {
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		transform: scale(1, 0);

		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}

	51% {
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		transform-origin: 50% 100%;

		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		transform: scale(1, 0);
	}

	100% {
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		transform-origin: 50% 100%;

		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes slideOutInBottom {
	0% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);

		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	50% {
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		transform: scale(1, 0);

		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	51% {
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		transform-origin: 50% 0%;

		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		transform: scale(1, 0);
	}

	100% {
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		transform-origin: 50% 0%;

		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}