@import './assets/fonts/CeraRoundPro/stylesheet.css';

.app {
	&__container {
		width: 95%;
		margin: 0 auto;
		transition: all 1s;
	}

	a {
		text-decoration: none;
	}

	.blue {
		background: #F0F9FF;
		opacity: 0;
		width: 100%;
		padding-left: 2.5%;
	}

}