@import './assets/fonts/CeraRoundPro/stylesheet.css';

.app {
    // font-family: 'Cera Round Pro';

    &__container {
        //   margin-left: 57px;
        //   margin-bottom: 57px;  
        width: 95%;
        margin: 0 auto;

    }

    .blue {
        background: #008CE6;
        // padding: 0 auto;
        width: 100%;

    }

}